@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Reenie+Beanie&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.polygon {
    /* Polygon 2 */
    z-index: -1;
    position: absolute;
    right: 20px;
    top: -5px;
}

.polygon2 {
    z-index: -1;
    position: absolute;
    top: 150px;
    right: 0;
}

.circle_corner {
    z-index: -1;
    position: absolute;
    bottom: -150px;
    left: -100px;
}

.circle_small {
    z-index: -1;
    position: absolute;
    bottom:30px;
    left:100px;
}